html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 500;
    position: relative;
    background: #1C1C1C;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

box {
    width: 550px;
    height: 550px;
    border-radius: 20px;
    background: #1F2937;
}

#header-wrapper {
    margin: 118px 144px 25px 52px;
}

.card-header {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    letter-spacing: -0.025em;
    color: #FFFFFF;
}

.card-header-green {
    font-family: 'Karla';
    color: #10B981;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    letter-spacing: -0.025em;
}

.supporting-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    padding-bottom: 1px;
    padding-top: 0px;
    color: #D5D4D8;
    margin: 0 126px 51px 52px;
}

.generate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10B981;
    margin: 0 275px 35px 52px;
    border-radius: 6px;

    height: 42px;
    width: 223px;
}

.generate-button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 15px;
}

.divider {
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-bottom: 35px;
}

.password-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 52px 46px 52px;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    margin: 0 12px 27px 12px;
}
